:root {
    --primary-pink: #fd3777;
    --primary-fuchsia: #f706cf;
    --primary-red: #fd1d53;
    --primary-blue: #2de2e6;
    --primary-black: #0d0221;
    --secondary-black: #241734;
    --tertiary-black: #2e2157;
    --gradient-start: #2F0743;
    --gradient-end: #41295a;
}