---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "What I'm doing now";
---
<BaseLayout pageTitle={pageTitle}>
    <article>
        <h1>{pageTitle}</h1>
        <h2>Technical</h2>
        <ul>
            <li>Exploring Spring and Spring boot more, increasing my Java skills.</li>
            <li>Polishing an app I made during my iOS bootcamp to get it ready for release on the App Store</li>
            <li>Tinkering with this website.</li>
        </ul>
        <h2>Personal and Career</h2>
        <ul>
            <li>Training to run my first 5k.</li>
            <li>Starting to think about future endeavors and what I need to do to prepare to change roles.</li>
        </ul>
        <h2>Travel</h2>
        <ul>
            <li>Sadly, nothing on this front at the moment. We are considering another trip to Puerto Rico in the spring.</li>
        </ul>
    </article>
</BaseLayout>