---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Curtis W. DeGidio Resume";
---
<BaseLayout pageTitle={pageTitle}>
    <article>
        <h1>{pageTitle}</h1>
        <h2>Skills</h2>
        <h3>Languages</h3>
        <p>JavaScript (EX6+), Java 8+, Swift, HTML 5, CSS 3, Python 3</p>
        <h3>Databases</h3>
        <p>MySQL, PostgreSQL, MongoDB</p>
        <h3>Frameworks, Runtimes, and Preprocessors</h3>
        <p>Node.js, React.js, Express.js, Sass, LESS, Spring / Spring Boot</p>
        <h3>Tools</h3>
        <p>Git, Docker, JetBrains IntelliJ, XCode, Adobe Experience Manager</p>
        <h3>Professional</h3>
        <p>MVC/MVVM architecture, SOLID principles, Agile Software Development</p>
        <h2>Experience</h2>
        <div style="margin-left: 20px;">
            <h3 style="margin-bottom: -10px">Vice President, Web Execution Technical Lead - <span style="color: white">JPMorgan Chase & Co.</span></h3>
            <p style="font-weight: bold;">March 2020 - Present</p>
            <ul>
                <li>Full-stack developer working with Adobe Experience Manager(AEM) in an Agile Scrum workflow.</li>
                <li>Co-lead architect on platform re-development for jpmorgan.com and jpmorganchase.com.</li>
                <li>Managing team of 10+ developers located in the internationally (US, India).</li>
                <li>Created AEM components using HTML/CSS/JavaScript, React.js, Java.</li>
                <li>Built site search functionality using Adobe Search & Promote API, later redeveloped using Java and AEM Query Builder API.</li>
                <li>Individual developer on Haven Healthcare initiative (defunct) sponsored by JPMorgan, Amazon, and Berkshire Hathaway.</li>
                <li>Educated team on accepted web standards, ADA / Section 508 compliance, and user experience issues.</li>
                <li>Diligently worked to improve various metrics related to developer delivery, website maintenance, and improve end-user experience.</li>
                <li>Mentored junior developers on current tech stack, organizational coding standards, and best practices.</li>
            </ul>
        </div>
        <div style="margin-left: 20px;">
            <h3 style="margin-bottom: -10px">Front-End Developer (Contract) - <span style="color: white">KForce</span></h3>
            <p style="font-weight: bold;">September 2018 – March 2020</p>
            <ul>
                <li>Served as consultant for Adobe Experience Manager projects with JPMorgan Chase & Co.</li>
            </ul>
        </div>
        <div style="margin-left: 20px;">
            <h3 style="margin-bottom: -10px">Front-End Developer (Contract) - <span style="color: white">Robert Half</span></h3>
            <p style="font-weight: bold;">January 2018 – August 2018</p>
            <ul>
                <li>Served as consultant for .NET-based custom software project for new customer acquisitions.</li>
                <li>Converted web interfaces to be WCAG 2.0 compliant and consulted on ADA best practices.</li>
                <li>Initiated re-development of front-end interfaces to make use of React.js.</li>
                <li>Created Razor templates for additional functionality as needed by project developments.</li>
            </ul>
        </div>
        <div style="margin-left: 20px;">
            <h3 style="margin-bottom: -10px">Web Developer - <span style="color: white">Bit Culture</span></h3>
            <p style="font-weight: bold;">June 2017 – January 2017</p>
            <ul>
                <li>Created project requirements and budgets based on client needs and user research.</li>
                <li>Worked with third-party vendors and consultants.</li>
                <li>Created various client projects using standard web stack (HTML/CSS/JS) and Angular.</li>
                <li>Created REST API services (Node.js) for headless CMS implementations.</li>
            </ul>
        </div>
        <div style="margin-left: 20px;">
            <h3 style="margin-bottom: -10px">Lead Web Developer - <span style="color: white">National Oilwell Varco</span></h3>
            <p style="font-weight: bold;">June 2014 – June 2017</p>
            <ul>
                <li>Created responsive landing pages tied to external marketing campaigns using HTML, CSS, JavaScript, TypeScript, and C# in a .NET environment with Ektron CMS.</li>
                <li>Built modularized component library used by internal web development teams to create bespoke web pages.</li>
                <li>Created interactive iOS application for use at trade shows using Cordova and React.js.</li>
                <li>Worked with stakeholders to create project functional specifications.</li>
                <li>Managed a team consisting of 2 junior developers, a UX/UI specialist, a Content specialist, and a quarterly intern.</li>
                <li>Managed team budget, effectively reducing costs by 10% through re-evaluation of needed services and license fees.</li>
            </ul>
        </div>
        <h2>Education</h2>
        <div style="margin-left: 20px;">
            <h3 style="margin-bottom: -10px">Masters of Science - <span style="color: white">University of Colorado, Boulder</span></h3>
            <p style="font-weight: bold;">June 2024 (Expected)</p>
            <p>Major: Computer Science</p>
        </div>
        <div style="margin-left: 20px;">
            <h3 style="margin-bottom: -10px">Bachelor of Science - <span style="color: white">Western Governors University</span></h3>
            <p style="font-weight: bold;">June 2022</p>
            <p>Major: Computer Science</p>
        </div>
        <div style="margin-left: 20px;">
            <h3 style="margin-bottom: -10px">AWS Certified Cloud Practitioner - <span style="color: white">Amazon AWS</span></h3>
            <p style="font-weight: bold;">July 2023</p>
        </div>
        <div style="margin-left: 20px;">
            <h3 style="margin-bottom: -10px">Project+ - <span style="color: white">Comptia</span></h3>
            <p style="font-weight: bold;">August 2021</p>
        </div>
        <div style="margin-left: 20px;">
            <h3 style="margin-bottom: -10px">Itil v4 Foundations - <span style="color: white">Axelos</span></h3>
            <p style="font-weight: bold;">August 2021</p>
        </div>
    </article>
</BaseLayout>