---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "What I Use";
---
<BaseLayout pageTitle={pageTitle}>
    <article>
        <h1>{pageTitle}</h1>
        <h2>Hardware</h2>
        <ul>
            <li>Apple 16" Macbook Pro M1 Pro 💻</li>
            <li>Apple Mac Mini M1 mac 🖥️</li>
            <li>Thinkpad E15 Gen 4 💻 (Linux)</li>
            <li>AMD Ryzen w/ 32GB RAM and NVidia 3060 🖥️ (Windows 11, Linux)</li>
            <li><a href="https://www.samsung.com/us/computing/monitors/gaming/49-odyssey-g9-gaming-monitor-lc49g97tssnxdc/">Samsung Odyssey G9</a></li>
            <li><a href="https://www.amazon.com/Logitech-C922x-Pro-Stream-Webcam/dp/B01LXCDPPK?th=1">Logitech C922x Webcam</a></li>
            <li>2 x Apple HomePod mini</li>
            <li>Creative Pebble v3 speakers</li>
            <li>Steetek KVM Switch (only for keyboard and mouse)</li>
            <li>Razer Black Widow v3</li>
            <li>Razer Mamba Elite</li>
            <li>Apple iPhone 14 Pro Max</li>
            <li>Apple AirPod Pro</li>
            <li>Apple Watch Series 5</li>
        </ul>
        <h2>OS and Software</h2>
        <ul>
            <li><a href="https://www.apple.com/macos/sonoma/">macOS Sonoma</a></li>
            <li><a href="https://ubuntu.com/">Ubuntu Linux</a></li>
            <li><a href="https://www.microsoft.com/software-download/windows11">Windows 11</a> - for gaming only 🤣</li>
            <li><a href="https://www.jetbrains.com/">JetBrains</a> - (IntelliJ, WebStorm, Clion). Why use anything else...</li>
            <li><a href="https://www.notion.so">Notion</a> - personal notebook and engineering log</li>
            <li><a href="https://www.omnigroup.com/omnigraffle">OmniGraffle</a> - for diagramming</li>
            <li><a href="https://iterm2.com/">iTerm2</a> w/ zsh, powerlevel10k, etc</li>
            <li><a href="https://paw.cloud">RapidAPI</a> - formerly Paw</li>
            <li><a href="https://affinity.serif.com/en-us/">Affinity design tools</a> - Great alternatives to Adobe</li>
        </ul>
        <h2>Learning</h2>
        <ul>
            <li><a href="https://learning.oreilly.com/">O'Reilly Learning Online</a> - When I need a slow read</li>
            <li><a href="https://www.udemy.com">Udemy</a> - When I need to get up to speed quick</li>
            <li><a href="https://www.coursera.org">Coursera</a> - Where I am doing my MSCS with UC Boulder</li>
        </ul>
    </article>
</BaseLayout>