---
import * as socialMedia from '../scripts/social.js';
const social = socialMedia.default;
---
<div class="nav-desktop">
    <div class="site-name">
        <span>Curtis W. DeGidio</span>
    </div>
    <div class="nav-links">
        <a href="/">Latest</a>
        <a href="/archive/1">Archive</a>
        <a href="/tags/">Tags</a>
        <a href="/about/">About</a>
        <a href="/resume/">Resume</a>
    </div>
    <div class="nav-icons">
        {social.map( link => {
            return <a href={link.url}><i class={link.iconClass}></i></a>
        })}
    </div>
    <div class="nav-mobile">
        <i class="fa-solid fa-bars hamburger"></i>
    </div>
    <div class="nav-mobile-modal">
        <div class="close-button-container">
            <i class="fa-regular fa-circle-xmark close-button"></i>
        </div>
        <div class="nav-links">
            <h2>Menu</h2>
            <a href="/">Latest</a>
            <a href="/archive/1">Archive</a>
            <a href="/tags/">Tags</a>
            <a href="/about/">About</a>
            <a href="/resume/">Resume</a>
        </div>
        <div class="nav-icons">
            {social.map( link => {
                return <a href={link.url}><i class={link.iconClass}></i></a>
            })}
        </div>
    </div>
</div>
