---
import BaseLayout from '../layouts/BaseLayout.astro';
const { frontmatter } = Astro.props;
---
<BaseLayout pageTitle={frontmatter.title}>
    <p class="article-pub-date">{new Date(frontmatter.pubDate.slice(0, 10)).toLocaleDateString(
        'en-us',
        {
            year: 'numeric',
            month: 'short',
            day: 'numeric'
        }
    )}</p>
    <div class="tag-pills">
        {frontmatter.tags.map(tag => <p class="tag-pill"><a href={`/tags/${tag}`}>{tag}</a></p>)}
    </div>
    <slot />
</BaseLayout>
